apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kangparkir
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://github.com/nico-kangdra/Kang-Parkir.git
      targetRevision: main
      path: kubernetes
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - Replace=true